<ion-view view-title="Acceuil">
  <ion-content>
    <div class="list card">
            <div class="item item-divider text-center">Bienvenue sur SoveLavi</div>
            <div class="item item-body">
              <p class="text-center">Une application web SIG visant à rendre disponible en
temps réel et facilement accessible les données sur le niveau d’exposition des communes
haïtiennes aux menaces de catastrophes naturelles, leur capacité de réponse ainsi que les données
sur les événements occurrents entrainés par une catastrophe.</p>
            </div>
        </div>
        <div class="list card">
          <div class="item item-divider text-center">
            Une carte d'haiti
          </div>
          <div class="item item-image">
            <img src="img/carte_haiti_dept.jpg">
          </div>
        </div>
  </ion-content>
</ion-view>
