<ion-view title="A propos" class="page-container">
    <ion-content padding="true" class="has-header">
        <div class="list card">
            <div class="item item-divider"><h2 class="text-center" id="factures-heading3" style="color:#000000;">A propos</h2></div>
            <div class="item item-body">
              <p class="text-center">Sovelavi est un outil technologique devant aider la Direction de la Protection Civile à disposer en temps réel des données
                sur la situation des communes en termes de risque et de préparation et devant faciliter le suivi et l’évaluation des réponses aux désastres. 
              </p>
            </div>
        </div>
    </ion-content>
</ion-view>
