<ion-view title="Profil" id="page2" class="page-container">
    <ion-content padding="true" class="has-header">
        <div class="list card">
            <div class="item item-divider"><h2 class="text-center" id="factures-heading3" style="color:#000000;">Informations Personnelles</h2></div>
              <div class="row row-center">
                <div class="col">Nom: </div>
                <input type="text" class="col col-30" value="{{userInfo.nom}}"></input>
                <div class="col">Prenom: </div>
                <input type="text" class="col col-30" value="{{userInfo.prenom}}"></input>
              </div>

              <div class="row row-center">
                <div class="col">Sexe: </div>
                <input type="text" class="col col-30" value="{{userInfo.sexe}}"></input>
                <div class="col">Telephone: </div>
                <input type="text" class="col col-30" value="{{userInfo.telephone}}"></input>
              </div>

              <div class="row row-center">
                <div class="col">Email: </div>
                <input type="text" class="col col-30" disabled="true" value="{{userInfo.email}}"></input>
                <div class="col">Addresse: </div>
                <input type="text" class="col col-30" value="{{userInfo.adresse}}"></input>
              </div>
        </div>
          <button class="button button-block button-positive" ui-sref='app.acceuil'>Valider</button>
          <button class="button button-block button-calm" ui-sref='app.acceuil'>Annuler</button>
    </ion-content>
</ion-view>
