<ion-view view-title="Evenement">
  <ion-content>
    <div class="card">
      <div class="item item-divider text-center">Rapporter un evenement</div>
      <div class="container-fluid">

            <!-- <h5>ma latitude est: {{lat}}</h5>
            <h5>ma longitude est : {{long}}</h5> -->

                <div class="animate-switch">

                    <div class="item item-text-wrap">
                     <form ng-show="pictureURL" name="evenementForm">
                       <div class="list">
                          <div ng-show="pictureURL!='url' ? true: false" class="padding">
                            <div class="item item-image">
                                <img ng-src="{{pictureURL}}">
                            </div>
                          </div>



                         <label class="item item-input item-floating-label padding" ng-class="{ 'has-errors' : evenementForm.infoEvenement.$invalid && !evenementForm.infoEvenement.$pristine, 'no-errors' : evenementForm.infoEvenement.$valid}">
                           <textarea rows="10" cols="50" name="infoEvenement" type="text" placeholder=" Votre commentaire" ng-model="evenementInfo.commentaire" required>
                           </textarea>
                         </label>

                         <div ng-show="pictureURL==='url' ? true: false" class="padding">
                           <div class="button button-block button-calm" ng-click="takePicture()">
                             Ajouter une Photo
                           </div>
                         </div>

                         <label class="item">
                           <button class="button button-block button-positive" type="submit" ng-disabled="evenementForm.$invalid">Envoyer</button>
                         </label>
                       </div>
                      </form>
                    </div>

                </div>

    </div>
  </ion-content>
</ion-view>
