3333<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-positive">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content >

  <ion-side-menu side="left">
    <ion-header-bar class="my-sidemenuheader" style="height: 150px; padding-bottom: 10px">
      <!-- <h1 class="title">SoveLavi</h1> -->
      <!-- <h4 class="margin" style="color: #ffffff; padding-top:15px">Bienvenue abel@sovelavi.ht</h4> -->
      <!-- <div class="item-avatar margin">
          <img src="img/avatar.jpg">

       </div> -->
       <!-- <h1 class="title" style="color:#ddffff; position: fixed; left:0;">Bienvenue abel@sovelavi.ht</h1> -->
    </ion-header-bar>
    <ion-content  class="my-container" style="padding-top: 110px">
      <h5 id="menu-heading1" style="color:#000000;font-weight:600;">Acceuil</h5>
    <ion-list>
      <ion-item class="item-icon-left transp" menu-close ui-sref="app.acceuil">
        <i class="ion-home iconSize"> Acceuil</i>
      </ion-item>
      <!-- <ion-item class="item-icon-left transp" menu-close ng-click="logout()">
        <i class="iconSize ion-android-exit"> Deconnecter </i>
      </ion-item> -->
    <h5 id="menu-heading2" style="color:#000000;font-weight:600;">Option utilisateurs</h5>
      <ion-item class="item-icon-left transp" menu-close ui-sref="app.profil">
       <i class="iconSize ion-person"> Profil</i>
      </ion-item>
      <ion-item class="item-icon-left transp" menu-close ui-sref="app.evenement">
      <i class="iconSize ion-clipboard"> Rapporter Evenement</i>
      </ion-item>
      <ion-item class="item-icon-left transp" menu-close ui-sref="app.evaluer">
      <i class="iconSize ion-document-text"> Evaluer Reponse</i>
      </ion-item>
      <ion-item class="item-icon-left transp" menu-close ui-sref="app.carte">
      <i class="iconSize ion-map"> Visualiser carte</i>
      </ion-item>
    <h5 id="menu-heading4" style="color:#000000;font-weight:600;">A propos</h5>
      <ion-item class="item-icon-left transp" menu-close ui-sref="app.apropos">
      <i class="iconSize ion-help"> A propos</i>
      </ion-item>
    </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
