<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-energized">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content >

  <ion-side-menu side="left" class="my-container">
    <ion-header-bar class="bar-dark">
      <h1 class="title">Menu</h1>
    </ion-header-bar>
    <ion-content>
      <h5 id="menu-heading1" style="color:#000000;font-weight:600;">Acceuil</h5>
    <ion-list>
      <ion-item class="item-icon-left transp" menu-close ui-sref="app.acceuil">
        <i class="ion-home iconSize"> Acceuil</i>
      </ion-item>
      <ion-item class="item-icon-left transp" menu-close ng-click="logout()">
        <i class="iconSize ion-android-exit"> Deconnecter </i>
      </ion-item>
    <h5 id="menu-heading2" style="color:#000000;font-weight:600;">Option utilisateurs</h5>
      <ion-item class="item-icon-left transp" menu-close ui-sref="app.profil">
       <i class="iconSize ion-person"> Profil</i>
      </ion-item>
      <ion-item class="item-icon-left transp" menu-close ui-sref="app.evenement">
      <i class="iconSize ion-clipboard"> Rapporter Evenement</i>
      </ion-item>
      <ion-item class="item-icon-left transp" menu-close ui-sref="app.donnee">
      <i class="iconSize ion-document-text"> Données collectivité</i>
      </ion-item>
      <ion-item class="item-icon-left transp" menu-close ui-sref="app.carte">
      <i class="iconSize ion-map"> Visualisé carte</i>
      </ion-item>
    <h5 id="menu-heading4" style="color:#000000;font-weight:600;">A propos</h5>
      <ion-item class="item-icon-left transp" menu-close ui-sref="app.apropos">
      <i class="iconSize ion-help"> A propos</i>
      </ion-item>
    </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
