/* Empty. Add your own CSS if you like */
.iconSize {
  font-size: 20px;
}

.my-container {
    background-image:  url("../img/menuGrad1.jpg");
    background-repeat: repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    height: 100%;
    position: absolute;
}
.item.transp {
    background-color: transparent;
    color: #000000;
}
.transp .item-content {
    background-color: transparent !important;
    color: #000000;
}


#map {
  width: 100%;
  height: 92%;
}

.scroll {
  height: 90%;
}

.angular-google-map-container { height: 400px; }
